/* design stranky */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrap {
    border: 1px solid black;
    border-bottom: none;
    padding: 10px;
    height: 320px;
    text-align: center;
}

/* styl pro zarovku a jeji svetlo */
#bulb {
    width: 200px;
    height: 200px;
    background-image: url("img/bulb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bulbLight {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(255, 0, 0, 1), rgba(255, 0, 0, 0));
    margin-bottom: 30%;      
}

/* Nastylovani checkboxu jako prepinac */
/* label - kontejner okolo */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* skryjeme checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* posuvnik */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: silver; /* barva ve vypnutem stavu */
    transition: 0.4s;           /* cas prechodu */
    border-radius: 34px;        /* zaobleni */
}

/* puntik ve slideru, kdyz je off */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* slider kdyz bude ve stavu on */
input:checked + .slider {
    background-color: black; /* barva pozadi ve stavu zapnuto */
}

/* puntik ve slideru, kdyz je on */
input:checked + .slider:before {
    transform: translateX(26px); /* posunuti putiku doprava */
}

/* styl pro zalozky */
#tabs {
    display: flex;
}

.tab {
    flex-grow: 1;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tab:hover {
    background-color: silver;
}

.tab.active {
    border-top: none;
    font-weight: bold;
}