/* design stranky */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrap {
    border: 1px solid black;
    border-bottom: none;
    padding: 10px;
    height: 320px;
    text-align: center;
}

#color_choose {
    width: 200px;
    height: 200px;
}

#color_choose>div {
    margin: 20px;
}

/* styl pro zarovku */
#bulb {
    width: 200px;
    height: 200px;
    background-image: url("img/bulb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bulbLight {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    margin-bottom: 30%;
}

/* stylovani zalozek */
#tabs {
    display: flex;
}

.tab {
    flex-grow: 1;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tab:hover {
    background-color: silver;
}

.tab.active {
    border-top: none;
    font-weight: bold;
}

/* stylovani checkboxu jako slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* skryjeme puvodni checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* styl pro posuvnik - slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: silver; /* barva vypnuteho */
    transition: 0.4s;
    border-radius: 34px; /* zaobleni */
}

/* bily puntik - stav off */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* barva labelu pro stav on */
input:checked + .slider {
    background-color: black;
}

/* posun bileho puntiku pro stav on */
input:checked + .slider:before {
    transform: translateX(26px); /* posun doprava */
}