body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body>div {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

input {
    width: 90%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;   
}

button {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

#vysledek {
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}