body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body>div {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

#spaceMarine_img {
    width: 300px;
}

/* Nastylovani checkboxu jako prepinac */

/* label - kontejner okolo */
.switch {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* skryjeme checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* posuvnik */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: silver; /* barva ve vypnutem stavu */
    transition: 0.4s;           /* cas prechodu */
    border-radius: 34px;        /* zaobleni */
}

/* puntik ve slideru, kdyz je off */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* slider kdyz bude ve stavu on */
input:checked + .slider {
    background-color: black; /* barva pozadi ve stavu zapnuto */
}

/* puntik ve slideru, kdyz je on */
input:checked + .slider:before {
    transform: translateX(26px); /* posunuti putiku doprava */
}