body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body>div {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

#dobronin, #city {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    margin: 10px;
    background-color: silver;
}

hr {
    width: 100%;
}

input[type="text"], button {
    border-radius: 10px;
    width: 90%;
    padding: 10px;
    margin: 10px;
}