body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body>div {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

input, select, button {
    margin: 10px;
    padding: 10px;
    width: 90%;
}

#div_vysledek {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 90%;
    text-align: center;
}