body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrap {
    border: 1px solid black;
    padding: 20px;
    border-bottom: none;
    text-align: center;
}

#wrap>div {
    margin: 20px 0;
}

#slots {
    display: flex;
    flex-direction: row;
}

.slot {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 0 10px;
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

#tabs {
    display: flex;
}

.tab {
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-grow: 1;
    text-align: center;
}

.tab:hover {
    background-color: silver;
}

.tab.active {
    border-top: none;
    font-weight: bold;
}