body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body>div {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

body>div>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cpu_div, #result_div {
    width: 200px;
    height: 35px;

    border: 1px solid black;
    border-radius: 10px;
}

#play_btn {
    width: 100px;
    height: 75px;
    border-radius: 10px;
    margin: 5px;   
}